* {
  font-family: "sans-serif", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 10vh auto 10vh;
}
.header {
  text-align: center;
  background-color: #0084ff;
  padding-top: 1rem;
  color: white;
}
.header h1 {
  padding-bottom: 1rem;
}

.subtitle {
  text-align: center;
  margin-top: 1rem;
  color: #4a89a7;
}

.tasks-list {
  align-items: center;
  margin: 2rem 0 2rem 0;
}

.task-container {
  display: grid;
  grid-template-columns: 1fr 5fr auto;
  align-items: center;
  background-color: aliceblue;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 2px solid transparent;
  border-radius: 5px;
}
.task-container:hover {
  cursor: pointer;
  border: 2px solid #4a89a7;
}

.task {
  margin-left: 1rem;
  overflow: clip;
}
.task-click {
  text-decoration: line-through;
}
.btn {
  border: 0;
  width: 50px;
  height: 50px;
}
.btn-complete {
  cursor: pointer;
  background-color: aliceblue;
}
.btn-complete:before {
  content: "";
  padding-left: 15px;
  outline: 2px solid rgb(97, 102, 97);
  border: 2px solid aliceblue;
  border-radius: 50%;
}

.btn-complete:hover:before {
  outline: 2px solid #054b7a;
}

.btn-complete-click:before {
  background-color: #0084ff;
}

.btn-delete {
  background-color: tomato;
  color: white;
  border-radius: 10px;
  height: 2rem;
  margin-left: 2px;
}
.btn-delete:hover {
  background-color: rgb(245, 42, 7);
}
.no-tasks {
  margin: 2rem;
  text-align: center;
}

.task-form {
  display: flex;
  flex-direction: column;
}
.form-label {
  padding: 0.2rem;
}
.form-input {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  box-shadow: 2px 2px 5px teal;
}
.form-input:hover {
  box-shadow: 3px 3px 10px teal;
}
.form-submit {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #0d98d8;
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
}

.footer {
  width: 100%;
  background-color: #0084ff;
  padding: 1rem;
  color: white;
  text-align: center;
}

@media (min-width: 650px) {
  main {
    max-width: 500px;
    margin: 2rem auto;
  }
}

@media (min-width: 1024px) {
  main {
    max-width: 1000px;
    margin: 2rem auto;
  }
  .tasks-category {
    display: flex;
    justify-content: center;
  }
}
